body {
    text-align: center;
    margin: 0;
}

h1 {
    color: #555;
    font-size: 26px;
}

.iframe-wrapper {
    display: table;
    margin: 0 auto;
}

iframe {
    width: 330px;
    height: 256px;
}

.controls {
    width: 325px;
    height: 200px;
    margin: 0 auto;
}

.camera-controls {
    height: 0;
    margin-top: 20px;
}

.controls td {
    text-align: center;
}

.controls button {
    height: 55px;
    width: 100px;
    background: transparent;
    border: 1px solid #aaa;
    user-select: none;
    cursor: pointer;
    outline: 0;
}

button:active {
    border: 2px solid;
}
