body {
    text-align: center;
}

h1 {
    color: red;
}

iframe {
    width: 330px;
    height: 256px;
}

.controls {
    width: 390px;
    height: 200px;
    margin: 0 auto;
}

.controls td {
    text-align: center;
}

.controls button {
    height: 55px;
    width: 100px;
    background: transparent;
    border: 1px solid #aaa;
    user-select: none;
    cursor: pointer;
    outline: 0;
}

button:active {
    border: 2px solid;
}
