<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SmartCar remote control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Motor Driver</h1>

    <div>
        <p>Here will be camera video...</p>
    </div>

    <div class="controls">
        <button onclick="changeDirection('forward')">Forward</button>
        <button onclick="changeDirection('backward')">Backward</button>

        <button onclick="changeDirection('stop')">Stop</button>

        <button onclick="changeDirection('left')">Left</button>
        <button onclick="changeDirection('right')">Right</button>

    </div>

    <script src="{{ url_for('static', filename='services_caller.js') }}"></script>
</body>

</html>
