<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SmartCar remote control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Motor Driver</h1>

    <div>
        <p>Here will be camera video...</p>
    </div>

    <table class="controls">
        <tbody>
            <tr>
                <td></td>
                <td>
                    <button onclick="changeDirection('forward')">Forward</button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button onclick="changeDirection('left')">Left</button>
                </td>
                <td>
                    <button onclick="changeDirection('stop')">Stop</button>
                </td>
                <td>
                    <button onclick="changeDirection('right')">Right</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button onclick="changeDirection('backward')">Backward</button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='services_caller.js') }}"></script>
</body>

</html>
